In [1]:
import pandas as pd

In [3]:
datos = {'Nombre':['Katherine', 'Selena','Joaquin', 'Milagros'],'Edades':[18,18,18,18,], 'Fechas':['08-02-2004','04-06-2004','11-06-2004', '22-07-2004']}
Cumpleaños =pd.DataFrame(datos)
Cumpleaños

      Nombre  Edades      Fechas
0  Katherine      18  08-02-2004
1     Selena      18  04-06-2004
2    Joaquin      18  11-06-2004
3   Milagros      18  22-07-2004